* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
}

.container-2 {
  width: 80%;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.32%;
}
.col-5 {
  width: 41.65%;
}
.col-6 {
  width: 49.98%;
}
.col-7 {
  width: 58.31%;
}
.col-8 {
  width: 66.64%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.3%;
}
.col-11 {
  width: 91.63%;
}
.col-12 {
  width: 100%;
}
/*================== banner image ==================== */
.banner-img {
  background-image: url("../images/banner/banner3.png");
  width: 100%;
  height: 100vh;
}

.banner-description {
  float: right;
}
/*=============== background color ===================== */
.bg-white {
  background-color: white;
}
.bg-dark {
  background-color: rgb(0, 0, 0);
}

.bg-smoke-white {
  background-color: #efeaea;
}
.bg-primary {
  background-color: #005fac;
}

.bg-transparent {
  background-color: transparent;
}
/*=============== text color ===================== */

.text-white {
  color: white;
}
.text-dark {
  color: black;
}
.text-dark-blue {
  color: #0066ae;
}

.text-success {
  color: green;
}
.text-gray {
  color: grey;
}

/* ======================= height and width ========================= */

.h-200 {
  height: 200px;
}

.w-100 {
  width: 100%;
}

/* ======================== padding ========================*/

.p-10 {
  padding: 10px 10px;
}
.pt-60 {
  padding-top: 60px;
}
.py-5 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.px-5 {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* =======================font-weight========================== */
.fw-bold {
  font-weight: bold;
}
.fw-bolder {
  font-weight: bolder;
}

/* ======================= font-size ============================== */
.fs-1 {
  font-size: 20px;
}
.fs-2 {
  font-size: 40px;
}
/* ========================border ===============================*/

.b-0 {
  border: 0;
}
.b-1 {
  border: 1px solid gray;
}
/* ========================= outline ==================================*/
.outline-0 {
  outline: none;
}
/* ========================== border radius =========================== */
.br-5 {
  border-radius: 5px;
}
/* ===========================cursor ===================================== */
.cursor {
  cursor: pointer;
}
/* ============================ margin ================================== */
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-150 {
  margin-right: 150px;
}
.mt-230 {
  margin-top: 230px;
}
.mx-auto {
  margin: 0 auto;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.ml-87 {
  margin-left: 87px;
}
.mt-300 {
  margin-top: 300px;
}
.ml-100 {
  margin-left: 100px;
}
.mr-10 {
  margin-right: 10px;
}
/* ========================== text-align ============================= */
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

/* =================== list-style ====================*/
.list-style-none {
  list-style-type: none;
}
/* display */
.d-flex {
  display: flex;

  align-items: center;
}
.justify-space-evenly {
  justify-content: space-evenly;
}
.gradient {
  background-image: url("../images/watch.png");
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gradient-image {
  background-image: url("../images/gradient1.png");
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img {
  width: 500px;
  height: 620px;
}
